<div class="activities">
    <div class="activities__header">
      <h2>Doctors</h2>
    </div>
    {% for doctor in doctors %}
    <div class="activities__box">
      <div class="activities__boxHeader roomListRoom__header">
        <a href="{% url 'user-profile' doctor.id%}" class="roomListRoom__author">
          <div class="avatar avatar--small">
            <img src="https://randomuser.me/api/portraits/women/5.jpg" />
          </div>
          <p>
            @dr{{doctor.username}}
          </p>
        </a>
      </div>
      <div class="activities__boxContent">
        <p>Dr {{doctor.first_name}} {{doctor.last_name}}</p>
        <div class="activities__boxRoomContent">
          {{doctor.institution}}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>